li.list-item {
    list-style: none outside;
    max-width: 60%;
    margin-left: 3em;
    padding-top: 0.5em;
    border-top: 0.3em solid #999;
}

.list-item:not(:last-child) {
    margin-bottom: 3em;
}

.list-item .item-card {
    height: 40vh;
    display: flex;
    justify-content: space-between;
}

.item-image {
    flex: 0 0 35%;
    overflow: hidden;
    border-radius: 0.3em;
}

.item-image img {
    height: 100%;
    width: 100%;
}

.item-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 60%;
}

.item-data .item-row {
    display: flex;
    align-items: flex-end;
    border-bottom: 0.12em solid #000;
    padding-bottom: 0.2em;
    margin-bottom: 0.3em;
}

.item-row h3, .item-row h4 {
    text-align: left;
    font-weight: 100;
}

.item-row h3 {
    flex: 0 0 35%;
    text-transform: capitalize;
    padding-left: 0.3em;
}