.site-header nav, span {
    display: flex;
    margin-left: auto;
}

.site-header nav ul {
    display: flex;
}

.site-header nav li {
    list-style: none outside;
    display: flex;
    align-items: center;
}

.site-header nav a {
    display: flex;
    align-items: center;
    height: 60%;
    padding: 0 0.5em;
    border-radius: 0.5em;
    margin: 0 0.1em;
}

.site-header nav a:focus,
.site-header nav a:hover,
.site-header nav a.selected {
    background-color: dodgerblue;
    color: white;
    outline: none;
}