.details-card {
    display: flex;
    justify-content: space-around;
    max-height: 70vh;
}

.book-picture {
    flex: 0 0 40%;
}

.book-picture img {
    height: 100%;
    width: 100%;
}

.book-info {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
}

.book-data .data-row {
    display: flex;
    border-bottom: 0.12em solid #000;
    align-items: flex-end;
    padding-bottom: 0.1em;
    margin-bottom: 0.5em;
}

.data-row h3, .data-row h4 {
    text-align: left;
}

.data-row h3 {
    flex: 0 0 30%;
    text-transform: uppercase;
    padding-left: 0.3em;
    font-weight: 100;
}

.book-info .book-description {
    margin-top: 0.7em;
    overflow: auto;
}

.book-description .description-header {
    position: sticky;
    top: 0;
}

.book-description header {
    background: #f1f1f1;
    border-radius: 0.3em;
}

.book-description header h2 {
    text-transform: uppercase;
    font-weight: 100;
    padding: 0.3em 0;
}

.book-description .description-main {
    padding: 0 0.3em;
}

.book-description .description-main p {
    text-align: left;
}